@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --primary: #9333EA;
  --secondary: #434959;
  --success: #0D9488;
  --alert: #FF8C49;
  --dark: #0F172A;
  --danger: #B04759;
  --grey: #E7E5FC;
  --purple-light: #D4D0FA;
  --light: #F8F9FA;
  --white: #FFFFFF;
  --pink: #ff8ba7;
  --blue: #3B82F6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--light);
  position: relative;
}

/* Global */
.container {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.text-w-md {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
.text-w-lg {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: var(--light);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand img {
  width: 8rem;
}
header nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
}
header nav ul li a {
  font-size: .9rem;
  color: var(--dark); 
  opacity: .8;
}
header nav ul li a:hover {
  color: var(--primary);
}
header a[href="/apod"] {
  font-weight: 500;
}
header #news {
  background: var(--purple-light);
  color: var(--primary);
  font-size: .8rem;
  padding: .2rem .5rem;
  border-radius: 2rem;
  font-weight: 700;
}
header #login {
  background: var(--primary);
  color: var(--light);
  padding: .6rem 1.4rem;
  margin-left: 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
}
header #bar {
  display: none;
  cursor: pointer;
  border: 1px solid var(--secondary);
  padding: .3rem .5rem;
  border-radius: .3rem;
}
header #bar:hover {
  background: var(--primary);
  color: var(--light);
}


.box-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: var(--light);
  display: none;
  top: 0;
  left: 0;
}
.box-loading.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: var(--dark);
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: var(--primary);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

footer {
  margin-top: 4rem;
  bottom: 0;
  background: var(--dark);
}
footer > .container {
  padding: 1.2rem 2rem;
  color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul li {
  display: inline-block;
  margin: 0 .5rem;
}
footer p {
  font-size: .9rem;
}
footer ul li i {
  font-size: 1.1rem;
  color: var(--light);
}
footer ul li i:hover {
  color: var(--primary);
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


#root {
  position: relative;
  top: 3.8rem;
}

/*
* Media Queries
*/
@media (min-width: 1200px) {
  .cta figure img {
    height: 50vh;
  }
}

@media (min-width: 1400px) {
  .cta figure img {
    height: 40vh;
  }
}

@media (min-width: 1500px) {
  .cta figure img {
    height: 30vh;
  }
}

@media (max-width: 1024px) {
  header #bar {
    display: block;
  }

  header nav {
    position: absolute;
    height: 50vh;
    width: 100%;
    top: 4rem;
    left: 0;
    padding: .8rem;
    transform: translateY(-100vh);
  }

  header nav.active {
    transition: transform .5s linear;
    transform: translateY(0%);
  }

  header nav ul {
    background: var(--light);
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    border-radius: .3rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header nav ul li {
    display: flex;
    margin: .8rem 0;
  }

  header #login {
    margin: 0;
  }
  .news {
    height: 100%;
  }

  .news .box-news {
    grid-template-columns: 1fr;
  }

  .card-features , .box-gallery,
  .blog .box-blog-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .prices .box-price {
    grid-template-columns: 50% 50%;
  }
  .box-contact-content {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .box-contact-location iframe {
    height: 40vh;
  }
  .box-contact-location li {
    font-size: .8rem;
  }
  .cta {
    text-align: center;
  }

  .blog .box-blog-articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .box-gallery {
    grid-template-columns: 1fr;
  }
  .box-apod img {
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .contact input, .contact textarea,
  .news p, .hero p
  .news ul li,
  .prices p,
  .contact p, 
  footer p {
    font-size: .9rem;
  }

  .contact label, .login input ,
  .cta figcaption p {
    font-size: 1rem;
  }

  .prices .box-price>div {
    padding: 2rem 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  }

  .prices .box-price {
    grid-template-columns: 100%;
  }

  .card-features,
  .blog .box-blog-articles {
    grid-template-columns: 1fr;
  }

  footer > .container {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .hero h1 {
    font-size: 1.4rem;
  }

  .hero-btn {
    flex-direction: column;
  }

  .cta figcaption p,
  .blog p {
    font-size: .9rem;
  }

  .features p,
  .news p {
    text-align: left;
  }

  .features h2,
  .news h2,
  .prices h2,
  .cta h1,
  .blog h2,
  .apod h2,
  .gallery h2,
  .contact h2 {
    font-size: 1.1rem;
  }

  .box-login ul li {
    width: 100%;
    margin-top: -1rem;
  }
  .box-login ul {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
  }
}