<section class="apod">
  <div class="container">
    <h2>Astronomy Picture of the Day</h2>

    <section class="box-apod">
      <h3>Astronomy Picture of the Day</h3>
      <span>2023-05-31</span>
      <img src="gallery01.jpg" alt="APOD Image"></img>
      <p>How did we get here? We know that we live on a planet orbiting a star orbiting a galaxy, but how did all of this form? Since our universe moves too slowly to watch, faster-moving computer simulations are created to help find out...</p>

      <a href="https://apod.nasa.gov/apod/astropix.html" target="_blank">Read more...</a>
    </section>
  </div>
</section>