<section class="gallery">
  <div class="container">
    <h2>
      Gallery
      <i class="fa-solid fa-images"></i>
    </h2>
    <p class="text-w-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eum dolorem fuga earum velit. Reiciendis in
      incidunt voluptates modi optio.
    </p>

    <section class="box-gallery" data-aos="fade-down" data-aos-duration="1500">
      <figure>
        <img class="main-img" src="./gallery03.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>

      <figure>
        <img class="main-img" src="./gallery02.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>

      <figure>
        <img class="main-img" src="./gallery01.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>

      <figure>
        <img class="main-img" src="./gallery04.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>

      <figure>
        <img class="main-img" src="./gallery05.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>

      <figure>
        <img class="main-img" src="./gallery06.jpg" alt="Gallery">

        <a href="https://github.com/ericneves" target="_blank">
          <figcaption>
            <img src="./avatar.jpg" alt="" class="avatar">
            <p>@ericneves</p>
          </figcaption>
        </a>
      </figure>
    </section>
  </div>
</section>