<section class="hero">
  <img src="./bg-gradient.svg" class="bg-hero" alt="Background">
  <div class="container" data-aos="fade-down"  data-aos-duration="1000">
    <h1 class="text-w-md">Explore the Universe with <span>Space Exploration</span></h1>

    <p class="text-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam itaque sed eius modi
      error totam sit illum. Voluptas doloribus asperiores quaerat aperiam. Quidem harum omnis beatae ipsum soluta!</p>

    <div class="hero-btn">
      <a href="/login" data-link>
        Get started
        <i data-link class="fa-solid fa-up-right-from-square"></i>
      </a>
      <a href="javascript:void(0)">Learn More</a>
    </div>

    <img class="astroA" src="/astroA.svg" alt="Astro">
    <img class="astroB" src="/astroB.svg" alt="Astro">
  </div>
</section>

<section class="features">
  <div class="container" data-aos="fade-right"  data-aos-duration="1500">
    <h2>
      Features <i class="fa-regular fa-moon"></i>
    </h2>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo voluptate cupiditate quisquam eos labore!
      Perspiciatis vero animi quibusdam sunt cupiditate veniam atque. Reprehenderit, earum quae sapiente provident quasi
      exercitationem ipsum!
    </p>

    <section class="card-features">
      <article>
        <div>
          <i class="fa-brands fa-space-awesome"></i>
        </div>
        <span>Spaceship</span>
        <p>Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        <a href="javascript:void(0)">Read more</a>
      </article>

      <article>
        <div>
          <i class="fa-solid fa-user-astronaut"></i>
        </div>
        <span>Astronaut</span>
        <p>Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        <a href="javascript:void(0)">Read more</a>
      </article>

      <article>
        <div>
          <i class="fa-solid fa-satellite"></i>
        </div>
        <span>Satellite</span>
        <p>Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        <a href="javascript:void(0)">Read more</a>
      </article>

      <article>
        <div>
          <i class="fa-solid fa-meteor"></i>
        </div>
        <span>Meteor</span>
        <p>Neque Dolor, fugiat non cum doloribus aperiam voluptates nostrum.</p>
        <a href="javascript:void(0)">Read more</a>
      </article>
    </section>
  </div>
</section>

<section class="news">
  <div class="container">
    <section class="box-news">
      <div class="image-news" data-aos="zoom-in-down" data-aos-duration="1500">
        <img src="./exploration.jpg" alt="News">
      </div>

      <div class="content-news" data-aos="fade-left">
        <h2>
          Information about the universe
          <i class="fa-solid fa-rss"></i>
        </h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sint in voluptates cumque fugiat a itaque
          rerum saepe ipsum, facere recusandae explicabo, quisquam nihil delectus sed dolores corrupti veniam libero.
        </p>

        <ul>
          <li>
            <i class="fa-solid fa-image"></i>
            Pictures of Space
          </li>

          <li>
            <i class="fa-solid fa-satellite-dish"></i>
            New Information
          </li>

          <li>
            <i class="fa-solid fa-user-astronaut"></i>
            Best Astronauts
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="prices" data-aos="zoom-out-down" data-aos-duration="1500">
  <div class="container">
    <h2>
      We have the best price
      <i class="fa-solid fa-hand-holding-dollar"></i>
    </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, rerum.</p>

    <div class="box-price">
      <div class="free">
        <span class="plan">Starter</span>
        <span class="price">Free</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, at.</p>

        <a href="/login" data-link>Join The Community</a>

        <span class="include">Features include:</span>

        <ul>
          <li>
            <i class="fa-solid fa-check-double"></i>
            News about the universe
          </li>
          <li>
            <i class="fa-solid fa-xmark"></i>
            Full HD Images
          </li>
          <li>
            <i class="fa-solid fa-xmark"></i>
            Space Exploration
          </li>
          <li>
            <i class="fa-solid fa-xmark"></i>
            Rocket Launches
          </li>
        </ul>
      </div>

      <div class="not-free">
        <span class="plan">Business</span>
        <span class="price">$29/mo</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, at.</p>

        <a href="/login" data-link>Start Now</a>

        <span class="include">Features include:</span>

        <ul>
          <li>
            <i class="fa-solid fa-check-double"></i>
            News about the universe
          </li>
          <li>
            <i class="fa-solid fa-check-double"></i>
            Full HD Images
          </li>
          <li>
            <i class="fa-solid fa-check-double"></i>
            Space Exploration
          </li>
          <li>
            <i class="fa-solid fa-check-double"></i>
            Rocket Launches
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <figure>
      <img class="bg-cta" src="./bg-cta.jpg" alt="Fireship">
      <figcaption>
        <h1>Get Started now</h1>

        <p>Be part of millions people around the world using <span>Space Exploration</span>.</p>

        <a href="/login" data-link>
          Get Started
          <i class="fa-solid fa-up-right-from-square"></i>
        </a>
      </figcaption>
    </figure>
  </div>
</section>

<section class="blog">
  <div class="container">
    <h2>
      Latest Articles
      <i class="fa-regular fa-newspaper"></i>
    </h2>
    <p class="text-w-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores eveniet ad, sapiente
      cupiditate dolor eius tempora assumenda facere porro?</p>

    <section class="box-blog-articles" data-aos="fade-up"  data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
      <article>
        <img src="./articleA.jpg" alt="Article A">
        <h3>De fuga fugiat lorem ispum laboriosam expedita.</h3>

        <p>Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>

        <a href="/" data-link>Read more</a>
      </article>

      <article>
        <img src="./articleB.jpg" alt="Article B">
        <h3>De fuga fugiat lorem ispum laboriosam expedita.</h3>

        <p>Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>

        <a href="/" data-link>Read more</a>
      </article>

      <article>
        <img src="./articleC.jpg" alt="Article C">
        <h3>De fuga fugiat lorem ispum laboriosam expedita.</h3>

        <p>Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>

        <a href="/" data-link>Read more</a>
      </article>
    </section>
  </div>
</section>

<section class="contact">
  <div class="container">
    <h2>
      Contact 
      <i class="fa-solid fa-address-card"></i>
    </h2>
    <p class="text-w-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minima.</p>
  </div>

  <div class="box-contact-form">
    <label for="name">Name: </label>
    <input type="text" id="name" name="text" placeholder="Name">
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" placeholder="Email">
    <label for="content">Content: </label>
    <textarea name="content" id="content" placeholder="Content" rows="10"></textarea>
    <input type="submit" value="Submit">
  </div>
</section>