<section class="hero">
  <div class="container">
    <h1 class="text-w-md">Explore the Universe with <span>Space Exploration</span></h1>

    <p class="text-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam itaque sed eius modi error totam sit illum. Voluptas doloribus asperiores quaerat aperiam. Quidem harum omnis beatae ipsum soluta!</p>

    <div class="hero-btn">
      <a href="javascript:void(0)">
        Get started
        <i class="fa-solid fa-up-right-from-square"></i>
      </a>
      <a href="javascript:void(0)">Learn More</a>
    </div>

    <img class="astroA" src="/astroA.svg" alt="Astro">
    <img class="astroB" src="/astroB.svg" alt="Astro">
  </div>
</section>